imports:
- path: 02_infra_patched.py

resources:
- name: cluster-infra
  type: 02_infra_patched.py
  properties:
    infra_id: '{{ INFRA_ID }}'
    region: '{{ REGION }}'

    cluster_domain: '{{ CLUSTER_NAME }}.{{ BASE_DOMAIN }}'
    cluster_network: '{{ CLUSTER_NETWORK }}'
